files:
    "/etc/systemd/journald.conf":
        owner: root
        group: root
        mode: "000644"
        content: |
            [Journal]
            RateLimitInterval=30s
            RateLimitBurst=20000
    "/etc/rsyslog.d/rate-limit.conf":
        owner: root
        group: root
        mode: "000644"
        content: |
            $imjournalRatelimitInterval 30
            $imjournalRatelimitBurst 20000