#!/bin/bash

mkdir -p /opt/producer
chmod +rw /opt/producer
cat <<EOT >> /opt/producer/producer.py
from datetime import datetime
import time
import os

print("Producer started")
path = "/opt/producer/producer.txt"
out_file = open(path, "a")
os.chmod(path, 0o777)
while True:
  out_file.write("Test message {}\n".format(datetime.now()))
  out_file.flush()
  file_size = os.stat(path).st_size
  if file_size > 4096:
    print("File larger than 4096 bytes. Recreating.")
    out_file.close()
    os.remove(path)
    out_file = open(path, "a")
    os.chmod(path, 0o777)
  time.sleep(2.0)
EOT

cat <<EOT >> /usr/lib/systemd/system/producer.service
[Unit]
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/python3 -u /opt/producer/producer.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
EOT

systemctl enable producer.service
systemctl start producer.service

yum update
yum -y install aws-kinesis-agent

rm -f /etc/aws-kinesis/agent.json
cat <<EOT >> /etc/aws-kinesis/agent.json
{
  "cloudwatch.emitMetrics": true,
  "kinesis.endpoint": "kinesis.${region}.amazonaws.com",
  "cloudwatch.endpoint": "monitoring.${region}.amazonaws.com",
  "firehose.endpoint": "firehose.${region}.amazonaws.com",
   "flows": [
        {
            "filePattern": "/opt/producer/producer.txt",
            "kinesisStream": "${kinesis_stream}"
        },
        {
            "filePattern": "/opt/producer/producer.txt",
            "deliveryStream": "${firehose_stream}"
        }
   ]
}
EOT

systemctl enable aws-kinesis-agent
systemctl start aws-kinesis-agent
