{
  "Version": "1.0",
  "TimeoutSeconds": 60,
  "StartAt": "First",
  "States": {
    "First": {
      "Type": "Task",
      "Resource": "${first_lambda_arn}",
      "Next": "Worker",
      "ResultPath": "$.firstResult"
    },
    "Worker": {
      "Type": "Task",
      "Resource": "${activity_arn}",
      "ResultPath": "$.workerResult",
      "Next": "Final"
    },
    "Final": {
      "Type": "Pass",
      "OutputPath": "$.workerResult.result",
      "End": true
    }
  }
}